<footer class="footer bg-dark py-5 mt-auto">
    <div class="container">
        <span style="color: grey;">&copy YelpCamp</span>
    </div>
</footer>
https://source.unsplash.com/collection/483251/1600x900